body,h1,h2,h3,h4,h5,h5,p,ul,ol,dl,dd,pre,div,table{margin:0;padding:0;}
img{vertical-align:bottom;}
i{font-style: inherit;}
em{font-style: inherit;}
body{font:0.3733rem "微软雅黑",Arial,Helvetica,sans-serif;color:#666;background-color:#F2F2F2;}
a{color:#808080;text-decoration:none;}
a:hover{color:#333;}
li{list-style:none;}
table{border-spacing: 0;}
table td{border-right:0.0267rem solid #d9d9d9;border-top:0.0267rem solid #d9d9d9;}
input:focus{outline:none;}
button:focus{outline:none;}
/*重定义样式*/
.weui-mask.weui-mask--visible {opacity: 0.4;}
.tabbar-bg a .weui-tabbar__label{color:#fff;}
.weui-cell .weui-vcode-btn{color:#00bfff;}
.weui-cells .weui-cell .weui-input{color:#ccc;font-size: 16px;}
.weui-cells .weui-cell input::-webkit-input-placeholder{color:#ccc;font-size: 16px;}
.weui-cells .weui-cell input::-moz-placeholder{   /* Mozilla Firefox 19+ */color:#ccc;font-size: 16px;}
.weui-cells .weui-cell input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */color:#ccc;font-size: 16px;}
.weui-cells .weui-cell input:-ms-input-placeholder{  /* Internet Explorer 10-11 */color:#ccc;font-size: 16px;}
.weui-cell:before{border-top:0;}
.weui-cell {border-top:1px solid #e5e5e5;}
.weui-dialog__bd_zdy {padding: 0 0 .8em;min-height: 20px;font-size: 0.4rem;line-height: 1.3;word-wrap: break-word;word-break: break-all;color: #999;}
.weui-dialog.weui-dialog--visible{border-radius: 10px;}
/* 公用样式 */
.text_center{text-align:center;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.clear_float:after{content:"";display:block;clear:both;}
.clear_height{content:"";display:table;}
.icon_right{/*向右图标*/float:right;}
.icon_right::before{content: " ";display: inline-block;height: 8px;width: 8px;border-width: 2px 2px 0 0;border-color: #c8c8cd;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);}
.icon_top{/*向上图标*/float:right;}
.icon_top::before{content: " ";display: inline-block;height: 8px;width: 8px;border-width: 2px 0 0 2px;border-color: #c8c8cd;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);}
.icon_top_no_float{/*向上图标*/}
.icon_top_no_float::before{content: " ";display: inline-block;height: 8px;width: 8px;border-width: 2px 0 0 2px;border-color: #c8c8cd;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);}
.icon_bottom_no_float{/*向上图标*/}
.icon_bottom_no_float::before{content: " ";display: inline-block;height: 8px;width: 8px;border-width: 0 2px 2px 0;border-color: #c8c8cd;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);}
.page{position: relative;width: 100%;height: 100%;font-size:0.3733rem;}
.bg_fff{background:#fff;}
.bg_000{background:#000;}
.font_bold{font-weight: bold}
.font_black{color:#000;}
.font_12{font-size:0.32rem}
.font_14{font-size:0.3733rem}
.font_16{font-size:0.4267rem}
.font_18{font-size:0.48rem}
.font_20{font-size:0.5333rem}
.font_22{font-size:0.5867rem}
.font_24{font-size:24px}
.font_26{font-size:26px}
.font_28{font-size:28px}
.font_red{color:#ff0000}
.font_fff{color:#ffffff}
.font_blue{color:#03a9f4}
.footer_btn{position: fixed;bottom:0;left:0;width: 100%;z-index:100}
.main{
    width: 96%;
    background: #fff;
    border-radius: 0.2133rem;
    box-sizing: border-box;
    margin:auto;
}
/* 首页 */
.index_bg{
    width: 100%;
    height:2.6667rem;
    background:url('../images/bg.png')
}
.index_bg img{
    margin:0.2667rem 0 0 0.2667rem;
}
.index_card{
    background: #F2F2F2;
    position: absolute;
    top:1.3333rem; 
    left:50%;
    margin-left:-48%;
}
.index_card .card{
    padding:0.1333rem;
    border-radius: 0.2133rem;
}
.index_card .mid{
    padding:0.4rem 0;
    border-radius: 0.2133rem;
}
.index_card .mid .btn_yc{
    background: #0066FF;
    padding:0.08rem 0.2133rem;
    border-radius: 0.1333rem;
    margin-left: 0.2667rem;
}
.index_card .mid img{
    margin-left:0.2133rem;
}
.index_card .bottom{
    padding:10px 4.9988px 0;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.index_card .bottom img{
    width: 0.8rem;
}
.dowebok { display: inline-block;width: 8rem; height:0.8rem; overflow:hidden;}
.dowebok ul { margin: 0; line-height: 0.48rem;}
.index_tj .tit{
    box-sizing: border-box;
    padding:5px;
    border-bottom:0.0267rem solid #d9d9d9;
}
.index_tj .content{
    padding:10px 0;
}
.index_tj .content .weui-flex__item{
    position: relative;
}
.index_tj .content .weui-flex__item i{
    position: absolute;
    top:-4px;
    right:6px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #ff0000;
    border-radius: 50%;
    color:#fff;
    font-size:0.32rem;
}
.index_tj .tj_title{
    position: relative;
    bottom:0.16rem;
}
.index_dztj{
    width: 96%;
    background: #fff;
    border-radius: 0.96rem;
    box-sizing: border-box;
    padding:0.16rem;
    margin:0.2667rem auto 0;
    overflow: hidden;
}
.index_dztj .left{
    width: 2.1333rem;
}
.index_dztj .left img{
    width: 48px;
}
.index_dztj .zmm{
    padding-top:0.16rem;
}
.index_tj .content_2{
    padding:10px;
}
.index_tj .content_2 .weui-flex{
    border-bottom:0.0267rem solid #d9d9d9;
    padding:5px 0;
}
.index_tj .content_2 .weui-flex:last-child{
    border:0;
}
.index_tj .left{
    width: 60px;
}
.index_tj .zmm{
    padding-top:3px;
}
.index_footer{ border-top:1px solid #ddd;background-color:#fff;}
.index_footer .weui-flex__item{padding:0.2133rem 0;}
.index_footer .checked{color:#f90;}
.index_footer .weui-flex__item i{display: inline-block;width: 0.9333rem;height: 0.9333rem;}
.index_footer .home_icon{background-image: url('../images/index/home.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .dztj_icon{background-image: url('../images/index/dztj.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .jh_icon{background-image: url('../images/index/jh.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .center_icon{background-image: url('../images/index/center.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .checked .home_icon{background-image: url('../images/index/home_z.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .checked .dztj_icon{background-image: url('../images/index/dztj_z.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .checked .jh_icon{background-image: url('../images/index/jh_z.png');background-repeat:no-repeat;background-size:100% 100%;}
.index_footer .checked .center_icon{background-image: url('../images/index/center_z.png');background-repeat:no-repeat;background-size:100% 100%;}
/* 开奖公告 */
.lottery{
    padding: 0.2667rem  0.8rem 0.2667rem 0.2667rem;
    margin-top:0.2667rem;
}
.lottery .type{
    margin-right:0.2667rem;
}
.lottery .num{
    padding-top:0.2667rem;
}
.lottery .num em{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center;
    margin-right:0.2667rem;
    font-size:0.4267rem;
}
.lottery .num em.blue{
    background-color: #0099FF;
}
/* 历史开奖 */
.lottery_history{
    padding:10px;
    border-bottom:0.0267rem solid #d9d9d9;
}
.lottery_history .num{
    padding-top:5px;
}
.lottery_history .num em{
    display: inline-block;
    color: #ff0000;
    border-radius: 50%;
    text-align: center;
    margin-right:0.2667rem;
    font-size:0.4267rem;
}
.lottery_history .num em.blue{
    color: #0099FF;
}
/* 竞彩足球 */
.jr_recommend_top{
    padding:0.2667rem 0.2667rem;
    font-size:0.3467rem;
    background: #F2F2F2;
}
.jr_recommend_mid{
    background: #fff;
    margin:10px auto 60px;
}
.jr_recommend_mid li{
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_mid .team_time{
    width: 22%;
    text-align: center;
    box-sizing: border-box;
    padding-top:1.3333rem;
}
.jr_recommend_mid .team_cont_fb{
    padding:0.2667rem 0;
}
.jr_recommend_mid .team_detail .vs{
    width: 1.3333rem;
}
.jr_recommend_mid .team_detail .team_a{
    padding:0 0 0.2667rem;
}
.jr_recommend_mid .team_detail .team_a .bold_a{
    font-size:0.4267rem;
    color:#000;
    font-weight: bold;
}
.jr_recommend_mid .team_detail .team_a .frq{
    font-size:12px;
    margin-bottom:5px;
}
.jr_recommend_mid .team_detail .team_b .frq{
    font-size:12px;
    width: 15px;
    box-sizing: border-box;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf{
    display:inline-block;
    width: 86%;
}
.jr_recommend_mid .team_detail .team_b{
    position: relative;
}
.jr_recommend_mid .team_detail .team_b .hhtz{
    position: absolute;
    display:inline-block;
    width: 12%;
    height: 98px;
    border:1px solid #d9d9d9;
    box-sizing: border-box;
    padding-top:27px;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf{
    height: 50px;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf div{
    border:1px solid #d9d9d9;
    margin-bottom:2px;
    margin-right:2px;
    
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf .weui-flex__item{
    line-height: 48px;
}
.jr_recommend_mid .red_color{
    color:#ff0000;
}
.jr_recommend_mid .red_dan_bg{
    background: url('../images/dan.png') no-repeat top left;
}
.jr_recommend_fot{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background: #fff;
    padding:0.2667rem 0 ;
}
.jr_recommend_fot .del{
    width: 50px;
    box-sizing: border-box;
    padding-top:0.1333rem;
}
.jr_recommend_fot .ms{
    box-sizing: border-box;
    padding-top:0.2667rem;
}
.jr_recommend_fot .ok{
    width: 2.4rem;
}
.jr_recommend_fot .ok .ok_q{
    background: #ff9800;    
}
.jr_recommend_fot button{
    width: 2rem;
    height: 40px;
    border-radius: 0.2133rem;
    border:0;
    font-size: 0.4267rem;
    color:#fff;
    margin-top:0.16rem;
}
.jr_recommend_fot .cancel{
    width: 4.4rem;
    border:1px solid #d9d9d9;
    background: #fff;
    color:#9e9e9e;
}
.jr_recommend_fot .qd{
    width: 4.4rem;
    background: #ff9800;
}
/* 赛事详情 */
.jr_recommend_detail{
    background: #fff;
    margin-bottom:60px;
}
.jr_recommend_detail .top{
    padding:10px 0;
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_detail .top .weui-flex__item:first-child,
.jr_recommend_detail .top .weui-flex__item:last-child{
    font-size: 0.4267rem;
    font-weight: bold;
    color:#000;
}
.jr_recommend_detail .team_detail{
    padding:0 0.2667rem 10px;
}
.jr_recommend_detail table{
    border-spacing: 0;
    width: 100%;
}
.jr_recommend_detail table tbody td{
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_detail table tbody tr:first-child td{
    border-top:1px solid #d9d9d9;
}
.jr_recommend_detail table tbody tr td:first-child{
    border-left:1px solid #d9d9d9;
}
.jr_recommend_detail .table_one{
    margin-top:10px;
}
.jr_recommend_detail .table_one td{
    height: 60px;
}
.jr_recommend_detail .table_two td{
    padding:3px 0;
}
.jr_recommend_detail .table_three td{
    padding:8px 0;
}
.jr_recommend_detail .table_four td{
    padding:3px 0;
}
.jr_recommend_detail .table_one .po_re{
    position: relative;
}
.jr_recommend_detail .table_one .po_ab{
    position: absolute;
    top:0.4rem;
    right:-0.8rem;
    background: #ff0000;
    padding:0.1333rem 0.2667rem;
    color:#fff;
    border-radius: 0.4rem;
}
.jr_recommend_detail .red_color{
    color:#ff0000;
}
.jr_recommend_detail .red_bg{
    background:#ff0000;
    color:#fff;
    margin-top:0.2667rem;
}
.jr_recommend_detail .yellow_bg{
    background:#ff9800;
    color:#fff;
    margin-top:10px;
}
.jr_recommend_detail .red_dan_bg{
    background: url('../images/dan.png') no-repeat top left;
}
/* 方案详情 */
.detail_cont_top{
    padding:0.1333rem 0;
}
.detail_cont_mid .weui-flex__item{
    padding:0.2667rem 0;
}
.detail_cont_mid .weui-flex__item:first-child{
    border-right:1px solid #d9d9d9;
}
.detail_cont_mid img{
    height: 0.4267rem;
}
.detail_cont_content{
    margin-top: 0.2667rem;
}
.detail_cont_content .team_s{
    padding:5px 8px 0;
}
.detail_cont_content .team_det{
    /* padding:4.9988px; */
}
.detail_cont_content .team_det ul{
    border-top:0.0267rem solid #d9d9d9;
    border-bottom:0.0267rem solid #d9d9d9;
    padding:5px 0;
}
.detail_cont_content .team_det ul li{
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    margin-left: 2%;
    position: relative;
    overflow: hidden;
}
.detail_cont_content .team_det .type{
    display: inline-block;
    width: 0.5333rem;
    height: 100%;
    background: #FF9900;
    color:#fff;
}
.detail_cont_content .team_det .ret{
    position: absolute;
    top:0;
    bottom: 0;
    left:0.4rem;
    right:0;
    margin:auto;
    line-height: 60px;
}
.detail_cont_font{
    background: #666666;
    padding:0.2667rem;
}
.detail_cont_font .xyb{
    text-align: center;
    width: 3.2rem;
}
.detail_cont_font button{
    padding:0.2133rem 0.48rem;
    background: #FF9900;
    color:#fff;
    border:0;
    font-size:0.4267rem;
    border-radius: 0.1333rem;
}
.detail_cont_font_cont .fs{
    width: 4.2667rem;
    border-right:0.0267rem solid #d9d9d9;
    padding-top:0.5867rem;
    font-weight: bold;
    color:#000;
    font-size:0.48rem;
}
.detail_cont_font_cont .multiple{
    padding:0.2667rem 0;
}
.detail_cont_font_cont .multiple span{
    display: inline-block;
    border:0.0267rem solid #d9d9d9;
    border-radius: 0.2133rem;
}
.detail_cont_font_cont .multiple em{
    display: inline-block;
    padding:0.1333rem 0.4rem;
    font-size:0.48rem;
}
.detail_cont_font_cont .multiple em:nth-child(2){
    padding:0;
    width:1.3333rem;
    height: 0.5333rem;;
    position: relative;
}
.detail_cont_font_cont .multiple em:nth-child(2) input{
    display: inline-block;
    text-align: center;
    width: 1.3333rem;
    height: 0.8rem;
    border:0;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    opacity: 0;
}
.detail_cont_font_cont .multiple em:nth-child(1){
    border-right:0.0267rem solid #d9d9d9;
}
.detail_cont_font_cont .multiple em:nth-child(3){
    border-left:0.0267rem solid #d9d9d9;
}
.betting_content{
    border-top:0.0267rem solid #d9d9d9;
    padding:0.1333rem;
    height: 200px;
    overflow-y:auto;
}
.betting_content ul.content li{
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    border:0.0267rem solid #d9d9d9;
    padding:0.2667rem 0;
    margin:0.1333rem 0 0 1%;
    border-radius: 0.2133rem;
    text-align: center;
}
.betting_content ul.content li.check{
    background-color: #FF9933;
    color:#fff;
}
/* 奖金优化 */
.bonus_optimization .top{
    padding:0.1333rem 0.2133rem;
    border-bottom:0.0267rem solid #d9d9d9;
}
.add_and_reduce{
    padding:0.2667rem 0;
}
.add_and_reduce .add_detail{
    font-size:0.4267rem;
}
.add_and_reduce .add_detail em{
    display: inline-block;
    padding:0.16rem 0.2667rem;
}
.add_and_reduce .add_detail em.num{
    border-radius: 0.1333rem;
    padding:0;
}
.add_and_reduce .add_detail em.num input[type="text"]{
    width: 1.3333rem;
    border:0;
    height: 0.64rem;
    border-radius: 0.1333rem;
    border:0.0267rem solid #d9d9d9;
    text-align:center;
}
.bonus_optimization_btn{
    padding:0.48rem 0;
}
.bonus_optimization_btn .weui-flex__item span{
    display:inline-block;
    padding:0.2133rem 0.5333rem;
    background:#fff;
}
.bonus_optimization_btn .weui-flex__item span.active{
    color:#fff;
    background: #FF9900;
}
.bonus_optimization_table{
    width: 100%;
  margin-bottom:100px;
}
.bonus_optimization_table td{
    padding:0.08rem 0;
}
/* 下一步 */
.next_step_top{
    padding:0.1333rem;
    margin:0.2667rem 0;
}
.next_step_content.weui-flex{
    padding:0.2667rem 0;
    border-bottom:0.0267rem solid #d9d9d9;
}
.next_step_content .logo{
    width: 1.3333rem;
}
.next_step_content .logo img{
    margin-top: 0.2667rem;
}
.next_step_content .dz{
    color:#03a9f4;
}
.next_step_content .weui-cells_checkbox{
    margin-top: 0.2667rem;
}
.next_step_fot{
    padding: 0.2667rem;
}
.next_step_fot span{
    display: inline-block;
    padding:0.2667rem 2.1333rem;
    background: #FF9900;
    color:#fff;
    border-radius: 0.2133rem;
}
/* 方案图片 */
.program_img{
    background: url("../images/bg_2.png") no-repeat top left;
    background-size:100% 100%;
    padding-bottom:0.5334rem;
    margin-bottom:80px;
}
.program_img .top_cont img{
    margin: 0.1333rem 0 0 0.1333rem; 
}
.program_img .top_cont .font_bold{
    padding:0.2667rem 0;
}
.program_img .middle_cont{
    padding-bottom:0.4rem;
}
.program_img .middle_cont .width_100{
    width:4.8rem;
}
.program_img .middle_cont .jjf{
    border-bottom:0.0267rem dashed #d9d9d9;
}
.program_img .middle_cont .jjf p{
    padding:0.2667rem 0;
}
.program_img .middle_cont .jjf p:last-child{
    font-weight: bold;
    color:#000;
}
.program_img .middle_cont .p_tit{
    padding:0.2667rem;
    color:#000;
    font-weight: bold;
}
.program_img .middle_cont .p_tit .weui-flex__item:first-child{
    border-left:0.1333rem solid #000;
    padding-left:0.1333rem;
}
.program_img .middle_cont .xq_table{
    width: 96%;
    margin: auto;
}
.program_img .middle_cont .xq_table td{
    text-align: center;
    padding:5px;
}
.program_img .middle_cont .xq_table tr td:first-child{
    border-left:0.0267rem solid #d9d9d9;
}
.program_img .middle_cont .xq_table tr:last-child td{
    border-bottom:0.0267rem solid #d9d9d9;
}
.program_img .middle_cont .ggfs_cont button{
    padding:0.2133rem 0;
    width: 20%;
    margin:0 0 0.1333rem 3%;
    background-color: #FF9933;
    border:0;
    border-radius: 0.1333rem;
    color:#fff;
}
.program_img .middle_cont .dz_cont .weui-flex__item:first-child{
    padding-top:0.5333rem;
}
.program_img .middle_cont .dz_cont{
    width:96%;
    margin:auto;
}
.program_img .middle_cont .dz_cont p{
    font-size: 0.5867rem;
    font-weight: bold;
    color:#000;
}
.program_img .bot_cont{
    margin-top:0.2667rem;
    padding:0.2667rem 0; 
}
.program_img .bot_cont .tit{
    font-size: 0.4267rem;
    color:#000;
    padding:0.1333rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.program_img_fot p{
    padding:0.4rem;
    background: #666666;
    text-align: center;
    color:#fff;
    font-size: 0.4267rem;
}
/* 拆单详情 */
.ddp_content_top{
    padding:0.2133rem 0.2667rem;
}
.ddp_content{
    margin-top:0.2667rem;
    border-bottom:1px solid #d9d9d9;
}
.ddp_content .top,
.ddp_content .mid{
    padding:0.1333rem 0.2667rem;
}
.ddp_content .money{
    color:#FF9900;
}
.ddp_content .mid{
    background: #f2f2f2;
}
.ddp_content .win{
    font-size:0.4267rem;
    font-weight: bold;
    padding:0.2667rem 0;
    text-align: center;
}
.cdxq_cont{
    margin:0 0 0.5333rem 0;
}
.cdxq_cont table{
    width: 100%;
    border-spacing: 0;
}
.cdxq_cont table td{
    text-align: center;
    padding:0.1333rem 0;
    border-right:0.0267rem solid #d9d9d9;
    border-top:0.0267rem solid #d9d9d9;
}
.cdxq_cont table tr:nth-child(even){
    background: #f2f2f2;
}
.cdxq_cont table tr:last-child td{
    border-bottom:0.0267rem solid #d9d9d9;
}
.cdxq_cont td.red_color{
    color:#ff0000;
}
.cdxq_cont .just_content{
    display:flex;
    justify-content:center;
    align-items:center;
}
.cdxq_cont .just_content>span:first-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right:10%;
}
.cdxq_cont .just_content>span:last-child{
    text-align: left;
}
.cdxq_cont .cont_s{
    display: inline-block;
    width:2.6667rem;
    padding:0.08rem 0;
}
/* 店长推荐 */
.ck_tj_con .tit_t{
    margin-top:10px;
    padding:0.2133rem 0.2667rem;
    border-bottom:1px solid #d9d9d9;
}
.ck_tj_con .tit_t .dh{
    font-size: 0.4267rem;
    color:#000;
    font-weight: bold;
}
.ck_tj_con .tit_t .fa{
    float: right;
}
.ck_tj_con table{
    border-spacing: 0;
    width: 100%;
}
.ck_tj_con table th{
    background: #666;
    color:#fff;
}
.ck_tj_con table td{
    padding:8px 0;
}
.ck_tj_con table tr td:last-child{
    border:0;
}
/* 查看推荐 */
.wait_head{
    padding:0.2667rem;
}
.wait_head .name,
.wait_head .order_num{
    display: inline-block;
    width: 49%;
    font-size:0.4267rem;
}
.wait_head .name{
    
    font-weight: bold;
}
.wait_head .order_num{
    text-align: right;
}
.dev_recommend{
    margin:0.2667rem auto 0;
}
.dev_recommend table{
    width: 100%;
    font-size:0.32rem;
    border-spacing: 0;
    border-radius: 10px;
}
.dev_recommend table thead{
    background:#666;
    color:#fff;
} 
.dev_recommend table thead tr th{
    font-weight: 100;
    padding:0.1333rem;
}
.dev_recommend table tbody tr td{
    color:#000;
    height: 1.12rem;
}
.dev_recommend table tbody tr td:first-child {
    border-left:0.0267rem solid #d9d9d9;
}
.dev_recommend table tbody tr:last-child td:first-child {
    border-bottom-left-radius:0.2133rem;
}
.dev_recommend table tbody tr:last-child td:last-child {
    border-bottom-right-radius:0.2133rem;
}
.dev_recommend table thead tr:first-child th:first-child {
    border-top-left-radius:0.2133rem;
}
.dev_recommend table thead tr:first-child th:last-child {
    border-top-right-radius:0.2133rem;
}
.dev_recommend table tbody tr:nth-child(even) td{
    background: #f2f2f2;
}
.dev_recommend table tbody tr:last-child td {
    border-top:2px solid #ff0000;
}
.dev_recommend tbody tr td p{
    padding:0.0533rem 0;
}
.dev_recommend table tbody tr.win td{
    color:#ff0000;
}
.dev_recommend table tbody tr.wait td{
    color:#000;
    font-weight: bold;
}
.dev_recommend_fot p{
    padding:0.4rem;
    background: #FF9900;
    text-align: center;
    color:#fff;
    font-size: 0.4267rem;
}
/* 下单 */
.xd_table{
    width: 100%;
}
.xd_table td{
    padding:10px 0;
}
.xd_table tr:first-child td{
    padding:3px 0;
}
/* 收米计划 */
.smjh_card{
    margin-top:10px;
}
.smjh_card_bg{
    background: url('../images/bg_3.png') no-repeat top left;
    background-size:100% 100%; 
}
.smjh_card .one_top{
    padding:0.1333rem 0.2667rem;
}
.smjh_card .one_top .font_18{
    margin:0.1333rem 0;
}
.smjh_card .one_top .weui-flex__item{
    position: relative;
}
.smjh_card .one_top .icon_right{
    position: absolute;
    top:30%;
    right:25%;
}
.smjh_card .one_top .icon_right::before{
    border-color: #fff;
}
.smjh_card .one_top .weui-flex__item p{
    padding:0.1333rem 0;
}
.smjh_card .one_fot{
    padding:0.2133rem 0.2667rem;
    border-radius: 0.2133rem;
}
.smjh_card .one_fot a{
    color:#00bcd4;
}
.smjh_card .two_top{
    padding:0.1333rem;
}
.smjh_card .two_top .img_w{
   padding-right:0.2667rem;
}
.smjh_card .two_top .img_w img{
    width: 0.9067rem;;
}
.smjh_card .two_top p{
    padding:0.08rem 0;
}
.smjh_card .two_top button.btn_fot{
    width: 100%;
    padding:0.2667rem 0;
    border-radius: 0.8rem;
    background-color:#FF9900;
    border:0;
    color:#fff;
    margin:0.2667rem 0;
}
/* 个人中心 */
.center_card{
    margin-top:0.2133rem;
    background: url('../images/bg_4.png') no-repeat top left;
    background-size:100% 100%;
    position: relative;
}
.center_card .img_w{
    width: 2.1333rem;;
}
.center_card .img_w img{
    width: 1.2rem;
}
.center_card .flex_1{
    padding:1.3333rem 0 0.6667rem 0;
    align-items: center;
    color:#fff;
}
.center_card .flex_1 .text_right{
    margin-right:0.4rem;
}
.center_card .flex_1 .font_bold{
    margin-bottom: 0.2667rem;
}
.center_card .flex_2 button{
    width: 2.9333rem;
    background: #fff;
    border-radius: 0.8rem;
    padding:0.16rem 0;
    border:0;
    margin-bottom:0.2667rem;
    font-weight: bold;
    font-size:0.3733rem;
    color:#9e9e9e;
}
.center_card .right_tit{
    position: absolute;
    top:0.3733rem;
    right:0;
    background: #FFCC00;
    padding:0.1333rem 0.1333rem 0.1333rem 0.2667rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    color:#fff;
}
.center_card .left_tit{
    position: absolute;
    top:0.4267rem;
    left:0.8rem;
    font-style:italic ;
    color:#fff;
    font-size: 0.5333rem;
}
.center_tab{
    margin:0.2667rem 0;
    padding:0.2667rem 0; 
}
.center_list p{
    padding:0.4rem;
    border-bottom:1px solid #d9d9d9;
}
.center_list .right_t{
    float: right;
    color:#ccc;
    margin-right:20px;
}
/* 下单记录 */
.order_record_tab{
    margin-top:1px;
    align-items: center;
}
.order_record_tab .weui-flex__item{
    padding:8px;
    box-sizing: border-box;
}
.order_record_tab .text_center{
    padding:0 0.48rem;
    border-left:1px solid #d9d9d9;
}
.order_record_tab .checked{
    color:#FFCC00;
    border-bottom:2px solid #FFCC00;
}
.order_record_list{
    margin-top:10px;
}
.order_record_list .list{
    padding:10px 5px;
    border-bottom:1px solid #d9d9d9;
}
/* 弹窗 */
.mask{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:100;
    display:none;
    background: rgba(0, 0, 0, 0.3);
}
.popup_set{
    width:90%;
    position:fixed;
    margin:0px auto;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:100; 
    background:#fff;
    border-radius:0.4rem;
    box-sizing: border-box;
    display: none;
}
@keyframes zoomIn2 {
    from {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    50% {
        opacity: 1;
    }
}
.popup_set.main {
    animation: zoomIn2 0.3s;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
.popup_set .title{
    font-size:0.48rem;
    font-weight: bold; 
    text-align: center;
    padding:0.4rem 0 0.2667rem;
}
.popup_set .bottom_tab{
    width: 100%;
    position: relative;
    bottom:0;
    border-top:0.0267rem solid #d9d9d9;
}
.popup_set .cancel,
.popup_set .ok{
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    padding:0.4267rem;
    text-align: center;
    font-size:0.4267rem;
}
.popup_set .cancel{
    border-right:0.0267rem solid #d9d9d9;
}
.popup_set .ok{
    color:#3cc51f;
}
.popup_set .content{
    padding:0 0.2667rem;
}
.popup_set .content p.tit{
    font-size: 0.3733rem;
    color:#9e9e9e;
}
.popup_set .weui-cells_checkbox .weui-icon-checked:before{
    font-size:0.48rem;
}
/* 方案详情 */
.order_details_top{
    padding:0.2133rem;
}
.order_details_top .img_w img{
    width: 35px;
    margin-right:0.2667rem;
}
.order_details_tab{
    padding:0.2667rem;
}
.order_details_tab .weui-flex__item p:first-child{
    margin-bottom: 0.2667rem;
}
.order_details_table{
    width: 100%;
    margin-top:0.2667rem;
}
.order_details_table thead tr th{
    font-weight: 400;
    padding:0.1333rem 0;
    color:#9e9e9e;
    border-bottom:0.0267rem solid #d9d9d9;
}
.order_details_table tbody td{
    border-top:0;
    border-right:0;
    border-bottom:0.0267rem solid #d9d9d9;
}
.order_details_table tbody td p{
    padding:0.08rem 0;
}
.order_details_p{
    padding:10px;
}
.order_details_p a{
    color:#00bcd4;
}
.order_details_p .icon_right::before{
    border-color:#00bcd4;
    width: 6px;
    height:6px;
}
.order_details_font{
    padding:10px;
}
.order_details_font .jl{
    padding-bottom:10px;
    border-bottom:0.0267rem dashed #d9d9d9;
}
.order_details_font .list .weui-flex{
    /* align-items: center; */
}
.order_details_font .list li{
    padding:5px 0;
}
.order_details_font .list .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background: #9e9e9e;
    margin-right:5px;
}
.order_details_footer .weui-flex__item{
    padding:15px 0;
}
.order_details_footer .weui-flex__item:first-child{
    border-right:0.0267rem solid #d9d9d9;
}
/* 客户充值 */
.recharge_content ul li{
    border-bottom:0.0267rem solid #e5e5e5;
    padding:0.2133rem;
}
.recharge_content .li_img,
.recharge_content .li_cont{
    float:left;
}
.recharge_content .li_img{
    vertical-align: middle;
    width: 18%;
    text-align: center;
    height: 100%;
    margin-top:0.08rem;
}
.recharge_content .li_img img{
    width:1.2rem;
    border:0.0267rem solid #ccc;
    border-radius:50%;
}
.recharge_content .li_btn{
    float:right;
    margin-top:0.2667rem;
    margin-right:0.3733rem;
}
.recharge_content .li_cont .name{
    font-size: 0.3733rem;
    font-weight: bold;
    padding:0.08rem;
}
.recharge_content .li_cont .money{
    font-size: 0.3733rem;
    padding:0.08rem;
}
.recharge_content .li_btn button{
    width: 1.4667rem;
    height:0.8rem;
    line-height:0.8rem;
    background:#FF9900;
    color:#fff;
    border:0;
    border-radius:0.1333rem;
}
.recharge_content .li_btn button.gray{
    background: #b2b2b2;
}
.recharge_content .li_icon{
    margin-top:0.4rem;
}
.recharge_mid{
    margin-top:8px;
}
.recharge_mid .top{
    padding:0.2133rem;
    border-bottom: 0.0267rem solid #d9d9d9;
}
.recharge_mid .bot{
    padding:0.2133rem;
    align-items: center;
}
.recharge_mid .bot .cl{
    width: 1.8667rem;
    text-align: center;
}
.recharge_mid .bot .cl button{
    padding:5px;
    background: #ff0000;
    color:#fff;
    border:0;
    border-radius: 0.1333rem;
}
.recharge_mid .bot .font_black{
    padding:0.08rem 0;
}
.recharge_line{
    padding:0.1333rem 0;
}
.recharge_line span{
    display: inline-block;
    width: 20%;
    height: 1px;
    border-bottom:1px solid #d9d9d9;
    position: relative;
    bottom: 0.1333rem;
}
/* 预存 */
.prestorage_top{
    margin-top:0.2133rem;
    padding:0.2667rem;
    position: relative;
}
.prestorage_top p{
    padding:3px 0;
}
.prestorage_top .tel{
    width: 0.48rem;
    margin-left:10px;
}
.prestorage_top .dun{
    position: absolute;
    top:0.5333rem;
    right:0.5333rem;
}
.prestorage_mid{
    margin-top:0.2133rem;
    padding:0.2667rem;
}
.prestorage_bot{
    margin-top:0.2133rem;
    padding:0.2667rem;
    
}
.prestorage_bot .tit{
    margin-bottom: 0.2667rem;
    display: flex;
    align-items: center;
}
.prestorage_bot .tit span{
    padding-left:0.2667rem;
}
.prestorage_bot .btn_ul li{
    display: inline-block;
    width: 30%;
    color:#FFA310;
    border:1px solid #FFA310;
    text-align: center;
    margin:0 0 0.2667rem 1% ;
    padding:0.1333rem 0;
    border-radius: 0.8rem;
}
.prestorage_bot .btn_ul li.active{
    background-color: #FFA310;
    color:#fff;
}
.prestorage_bot .btn_ok{
    width:90%;
    padding:0.2667rem 0;
    background: #FFA310;
    color:#fff;
    border:0;
    border-radius: 0.8rem;
    margin-top:0.2667rem;
}
.prestorage_center{
    padding:1.3333rem 10px;
}
.prestorage_center .ts{
    margin-top:20px;
}
.prestorage_btn{
    padding:0.8rem 0 1.6rem 0;
}
.prestorage_btn span{
    padding:10px 30px;
    border: 1px solid #2AA515;
    color:#2AA515;
    border-radius: 30px;
}
.prestorage_btn span.checked{
    background: #2AA515;
    color:#fff;
}
.prestorage_tit{
    padding:10px 20px;
}
/* 清账 */
.accounts_top{
    padding:0.2667rem;
    margin:0.2667rem 0;
}
.accounts_mid{
    padding:0.2667rem 0.2667rem;
    align-items: center;
}
.accounts_mid input{
    width: 2.6667rem;
    height: 0.8rem;
    border:0;
}
.accounts_bot{
    margin-top:0.2667rem;
}
.accounts_bot .weui-flex{
    padding:0.2667rem;
    align-items: center;
}
.accounts_bot .weui-flex__item{
    padding-left: 0.2667rem;
}
.accounts_bot .weui-flex__item em{
    margin-left:0.2667rem;
    color:#0099FF;
}
.accounts_btn{
    background: #FF9900;
    color:#fff;
    width: 80%;
    margin:20px auto;
    text-align: center;
    padding:0.4rem;
    border-radius: 0.2133rem;
}
.accounts_tit{
    padding:0.2667rem;
}
.accounts_tit em{
    color:#0099FF;
}
/* 设置 */
.cz_set .tit{
    padding:8px;
    color:#000;
}
.cz_set .top{
    padding:0.4rem;
    align-items: center;
}
.cz_set .weui-flex__item{
    margin-left:0.2667rem;
}
.cz_set .s_btn{
    padding:0.16rem 0.5333rem;
    background:#0099FF;
    color:#fff;
    border-radius:0.16rem;
}
.cz_set .list{
    padding:0.2667rem;
    align-items: center;
    border-bottom:1px solid #d9d9d9;
}
.cz_set .list .tel{
    width: 1.8667rem;
    color:#000;
}
.cz_set .list input{
    height: 0.8rem;
    border:0;
}
.setcharge_top{
    padding:0.5333rem;
    align-items: center;
    margin:10px auto;
}
.setcharge_top .img_s{
    width: 50px;
    border-radius:50%; 
    margin-right:0.5333rem;
}
.setcharge_mid{
    padding:0.4rem;
}
.setcharge_mid .tit{
    font-size:0.8533rem;
    font-weight: bold;
    color:#000;
    margin:0.2667rem 0;
}
.setcharge_btn{
    padding:0.8rem 0 0.8rem 0;
}
.setcharge_btn span{
    padding:0.2667rem 1.0667rem;
    border: 1px solid #FFA310;
    color:#FFA310;
    border-radius: 0.8rem;
}
.setcharge_btn span.checked{
    background: #FFA310;
    color:#fff;
}
.setcharge_mid .tit_copy{
    font-size:0.5867rem;
    margin-bottom:0.5333rem;
}
.setcharge_top_st{
    padding:15px;
    align-items: center;
    margin:10px auto 0;
}
.setcharge_top_st .img_s{
    margin-right:19.9988px;
}
.setcharge_top_st .weui-flex__item p{
    padding:4px;
}
.setcharge_top_st .weui-flex__item p em{
    font-weight: bold;
    color:#000;
}
.setcharge_btn_st{
    padding-bottom:0.2667rem;
}
.setcharge_btn_st span{
    display: inline-block;
    padding:0.2133rem 1.6rem;
    border: 1px solid #FFA310;
    color:#FFA310;
    border-radius: 0.8rem;
}
.setcharge_btn_st span.checked{
    background: #FFA310;
    color:#fff;
}
.setcharge_btn_foot{
    background: #FFA310;
    text-align: center;
    padding:0.5333rem 0;
    color:#fff;
}
.setcharge_pop input{
    height: 38px;
    width: 100%;
    margin-top:10px;
    border:1px solid #d9d9d9;
    padding-left:10px;
    box-sizing: border-box;
}
.setcharge_pop .upload{
    padding:10px 0;
    text-align: center;
}
.setcharge_pop .upload span{
    display: inline-block;
    width: 90%;
    padding:10px 0;
    background: #2697EB;
    border-radius: 30px;
    color:#fff;
    font-size:16px;
}
/* ----------------新添加样式--------------- */
.new_kj {
    align-items: center;
    margin-top:0.2667rem;
}
.new_kj .weui-flex__item{
    padding:0.2667rem;
}
.new_kj .weui-flex__item:first-child{
    border-right:1px solid #d9d9d9;
}
.new_kj img{
    vertical-align:middle;
}
.new_jc{
    text-align: center;
    font-size: 0.48rem;
    color: #ccc;
}
.new_jc .weui-flex__item{
    padding:0.4rem;
}
.new_jc .weui-flex__item:first-child{
    border-right:1px solid #d9d9d9;
}
.new_jc_mid{
    padding:10px 0;
}
.new_jc_det{
    text-align: center;
    color: #ccc;
    width: 24%;
    border-right:1px solid #d9d9d9;
}
.new_jc_top{
    border-bottom:0.0267rem solid #d9d9d9;
}
.new_jc_team{
    align-items: center;
    height: 100%;
}
.new_jc_team .score{
    font-size:0.5867rem;
    color:#000;
}
.new_jc_team .score_det{
    color: #ccc;
    padding-top:0.1333rem;
}
.new_jc_team img{
    width: 0.6667rem;
}
.new_jc_team .team{
    color:#000;
    padding-top:0.1333rem;
}
.new_jc_tab{
    padding-bottom:0.2667rem;
}
.new_jc_tab table{
    width: 96%;
    margin:auto;
    text-align: center;
}
.new_jc_tab table tr td{
    padding:0.08rem 0;
}
.new_jc_tab table tr td:first-child{
    border-left:0.0267rem solid #d9d9d9;
}
.new_jc_tab table tr:last-child td{
    border-bottom:0.0267rem solid #d9d9d9;
}
.new_jc_tab .red_dan_bg{
    background: url('../images/dan.png') no-repeat top left;
    background-size: 0.5333rem;
}
.order_record_tab img{
    vertical-align: middle;
    margin-left:0.1333rem;
}
.order_record_pop{
    position: absolute;
    top:1.0133rem;
    width: 100%;
}
.order_record_pop ul li{
    padding:0.2667rem 0.5333rem;
    border-bottom:0.0267rem solid #d9d9d9;
}
.order_record_pop ul li.check{
    background: url('../images/new_add/yes.png') no-repeat ;
    background-size: 0.5333rem;
    background-position:96% 0.2667rem ;
}