body,h1,h2,h3,h4,h5,h5,p,ul,ol,dl,dd,pre{
    margin:0;
    padding:0;
}
img{
    vertical-align:bottom;
}
i{
    font-style: inherit;
}
body{
    margin:0;
    font:14px "微软雅黑",Arial,Helvetica,sans-serif;
    color:#666;
    background-color:rgb(246, 246, 246);
}
a{
    color:#808080;
    text-decoration:none;
}
a:hover{
    color:#333;
}
.clear-float:after{
    content:"";
    display:block;
    clear:both;
}
.clear-height{
    content:"";
    display:table;
}
.clear_float:after{
    content:"";
    display:block;
    clear:both;
}
.clear_height{
    content:"";
    display:table;
}
li{
    list-style:none;
}
.main{
    width:60%;
    margin:0 auto;
    background:#ffffff;
}
.main-line{
    width:60%;
    margin:0 auto;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.black-font{
    color:#000;
    margin-top:5px;
}
/*重定义样式*/
.weui-mask.weui-mask--visible {
    opacity: 0.4;
}
.tabbar-bg a .weui-tabbar__label{
    color:#fff;
}
.weui-cell .weui-vcode-btn{
    color:#00bfff;
}
.weui-cells .weui-cell .weui-input{
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input::-webkit-input-placeholder{
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#ccc;
    font-size: 16px;
}
.weui-cell:before{
    border-top:0;
}
.weui-cell {
    border-top:1px solid #e5e5e5;
}
.reg-position{
    position: relative;
}

.reg-position .weui-cell_access .weui-cell__ft{
    position: absolute;
    right:20px;
}
/* 公用样式 */
.bg_fff{
    background:#fff;
}
.text_center{
    text-align:center;
}
.icon_right{/*向右图标*/
    float:right;
}
.icon_right::before{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
}
/* index */
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#ddd;
    font-size:0.3733rem;
}
.index_top{
    width: 100%;
    height:2.6667rem;
    background: #0099FF;
    color:#fff;
    text-align: center;
    padding:0.4rem 0;
}
.index_top p,
.index_mid_top p{
    margin-top:0.1333rem;
}
.index_top a,
.index_mid_top a{
    display: inline-block;
}
.index_top a{
    color:#fff;
}
.index_top img{
    width: 1.2rem;
}
.index_mid_top img{
    width: 1.1rem;
}
.index_top .weui-flex__item,
.index_mid_top .weui-flex__item{
    position: relative;
}
.index_top span,
.index_mid_top span{
    position: absolute;
    top:-0.16rem;
    right:0.08rem;
    width: 0.48rem;
    height:0.48rem;
    line-height: 0.48rem;
    text-align: center;
    border-radius: 50%;
    background: #ff0000;
    color:#fff;
}
.index_mid_top{
    width: 94%;
    margin:-0.8rem auto 0;
    border-radius: 0.2133rem;
    padding:10px 0;
}
.index_mid_mid{
    width: 94%;
    margin: 0.2667rem auto 0;
    border-radius: 0.2133rem;
}
.index_mid_mid .order{
    border-bottom: 1px solid #ddd;
    padding:0.2667rem;
}
.index_mid_mid .weui-flex__item{
    padding:0.48rem 0;
}
.index_mid_mid .weui-flex__item b{
    font-size:0.64rem;
    color:#000;
}
.index_mid_mid .weui-flex__item p{
    font-size:0.48rem;
    margin-top:0.2133rem;
}
.index_mid_bot{
    width: 94%;
    margin: 0.2667rem auto 0;
    border-radius: 0.2133rem;
}
.index_mid_bot .order{
    border-bottom: 1px solid #ddd;
    padding:0.2667rem;
}
.index_mid_bot .weui-flex__item{
    padding-top:0.48rem;
}
.index_mid_bot .weui-flex__item b{
    font-size:0.5333rem;
    font-weight:600;
}
.index_mid_bot .weui-flex__item p{
    margin-top:0.2133rem;
}
/* 订单管理 */
.order_nav{
    background:#fff;
    padding:0 0.5333rem;
}
.order_nav .weui-flex__item{
    padding:0.32rem 0;
}
.order_nav .weui-flex__item.checked{
    border-bottom:0.08rem solid #b2b2b2;
    font-weight:bold;
}
.order_warn{
    padding: 0.16rem;
    margin-top:0.0533rem;
}
.order_warn i{
    font-size:0.4267rem;
    color:#000;
}
.order_warn a{
    color:#00bfff;
}
.order_content{
    margin-top:5px;
}
.order_content .cont_right{
    float:left;
    width: 96%;
    font-size:0.4267rem;
    color:#000;
}
.order_content .cont_right>div{
    padding:0.1067rem 0;
}
.order_content i{
    margin-top:1rem;
}
.order_content .name{
    display: inline-block;
    width: 40%;
}
.order_content .cont{
    display: inline-block;
    width: 58%;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order_content .font_bold{
    font-weight: bold;
    font-size:0.48rem;
}
.order_content .font_gray{
    color:#999;
    font-size:0.4267rem;
}
.order_content ul li{
    border-bottom:0.0267rem solid #ddd;
    padding: 0 0.2667rem 0 0.2667rem;
}